:root {
    --color1: #fff; /* white/bgcolor */
    --color2: #7EACB5;
    --color3: #FADFA1;
    --color4: #C96868; 
    --color5: #ae4343;
    --color6: #38737f;
    --color7: #c1af85;

    --task-done: rgba(126, 175, 181, 0.641);
}

html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.create-project {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    background-color: var(--color6);
    color: var(--color1);
    padding: 17px 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: 3px solid var(--color1);
    transition: all 0.2s ease;

    svg {
        width: 35px;
        height: 35px;
        transition: all 0.2s ease;
    }
}

.create-project:hover {
    background-color: var(--color1);
    border: 3px solid var(--color6);

    svg path, line, polyline{
        fill: var(--color1);
        stroke: var(--color6);
        
    }
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    header, footer { /* apply the margin to all direct children of body */
        width: 100%;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background: linear-gradient(to bottom, var(--color4) 65%, transparent 100%); */
    position: sticky;
    top: 0px;

    h1 {
        color: var(--color4);
        padding: 25px 0 60px 0;
    }
}

dialog {
    background-color: var(--color1);
    border: 2px solid var(--color2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;

    hr {
        margin: 10px 0;
        border: none;
        border-top: 1px solid var(--color2);
        width: 80%;
        align-self: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .task-row {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        label {
            font-weight: 600;
            color: var(--color6);
        }

        input, textarea, select {
            border: 1px solid var(--color2);
            border-radius: 5px;
            padding: 10px;
            font-size: 1rem;
        }

        input[type="submit"], input[type="reset"], button {
            background-color: var(--color6);
            color: var(--color1);
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
            width: 50%;
        }

        input[type="submit"]:hover, button:hover {
            background-color: var(--color4);
        }

        input[type="reset"] {
            background-color: var(--color5);
        }
        input[type="reset"]:hover {
            background-color: var(--color4);
        }

        button:hover {
            background-color: var(--color2);
        }
    }
}

main {

display: grid;
grid-template-columns: repeat(3, minmax(300px, 320px));
grid-auto-rows: minmax(300px, 400px);
overflow: scroll;
scrollbar-width: thin;
scrollbar-color: var(--color2) var(--color1);
gap: 50px;

padding: calc(2rem + 10px);

transition: all 0.5s ease-in-out; /* Smooth transitions for size/position */


.project {

    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease; /* Transition for individual items */

    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-box-shadow: -1px 0px 36px -8px rgba(56,115,127,1);
    -moz-box-shadow: -1px 0px 36px -8px rgba(56,115,127,1);
    box-shadow: -1px 0px 36px -8px rgba(56,115,127,1);

    border: 1px solid var(--color2);
    border-radius: 20px;
    padding: 10px 20px;

    .project-id, .todo-id {display: none}

    .project-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .project-actions {
            display: flex;
            gap: 8px;

            button {
                border: none;
                background: none;
                font-size: small;
                padding: 0;
                cursor: pointer;
                color: var(--color2);
                font-weight: 600;
                text-decoration: underline dotted;
            }

            button:hover {
                color: var(--color3);
            }

            button.delete-btn {
                color: var(--color4);
            }

            button.delete-btn:hover {
                color: var(--color5);
            }
        }
    }

    ul.todo-list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        overflow-y: scroll;

        .days-remaining.normal {
            font-size: small;
            color: var(--color2);
            font-weight: 400;
        }

        .days-remaining.urgent {
            font-size: small;
            color: var(--color4);
            font-weight: 600;
        }

        .days-remaining.soon {
            font-size: small;
            color: var(--color3);
            font-weight: 500;
        }

        .days-remaining.overdue {
            font-size: small;
            color: var(--color5);
            font-weight: 700;
        }

        .todo-label {font-weight: 600;}
        .todo-due-date {font-style: italic;}

        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;

                .todo-label {
                    display: block;
                    max-width: 170px; /* apply the width directly to .todo-label */
                    overflow:hidden;
                    text-overflow: ellipsis ;
                    white-space: nowrap; /* ensure the text is displayed in one line */
                    padding-right: 10px;
                    cursor: pointer;
                    text-decoration: underline dotted;
                }

                .todo-label:hover {
                    color: #727272;
                }
            

            .todo-left {
                gap: 8px;
            }

            .todo-priority {
            font-weight: 500;
            border: 1px dotted;
            border-radius: 3px;
            padding: 4px 8px;
            }

            .todo-priority.high {
                color: var(--color5);
                border-color: var(--color5);
            }
            .todo-priority.medium {
                color: var(--color7);
                border-color: var(--color7);
            }
            .todo-priority.low {
                color: var(--color2);
                border-color: var(--color2);
            }

    }

    .todo-item:has(.done)  {
        color: var(--task-done);
    }
}

}
}

footer {
    text-align: center;
    padding: 25px 0 15px 0;
    background: linear-gradient(to top, var(--color4) 75%, transparent 100%);
    color: var(--color1);

    position: sticky;
    bottom: 0px;

    a {
        text-decoration:dotted;
        color:#FADFA1;
        font-weight: 500;
    }
}